# Ignore these directories:
alignment/
data/
data_re/
metadata/
__pycache__/
.gwf/
outputs/
logs/
temp/
vcf_outputs/
QC/
multiqc_data/
obsolete/
simonmartin_genomics/
stats/


# Ignore these file types:
*.tmp
*.html
*.bed
*.json
*.log
*.gz*
*.stats